<a href="https://colab.research.google.com/github/biranchi2018/Intro_to_ML/blob/main/1.Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
!wget https://github.com/biranchi2018/Intro_to_ML/blob/main/Housing.csv

--2023-06-18 06:44:29--  https://github.com/biranchi2018/Intro_to_ML/blob/main/Housing.csv
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Housing.csv.1’

Housing.csv.1           [  <=>               ] 411.00K  1.66MB/s    in 0.2s

2023-06-18 06:44:29 (1.66 MB/s) - ‘Housing.csv.1’ saved [420863]

In [2]:
file_name = 'Housing.csv'

In [3]:
df = pd.read_csv(file_name)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
len(df)

545

In [5]:
len(df.columns)

13