<a href="https://colab.research.google.com/github/biranchi2018/Intro_to_ML/blob/main/2.Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
!wget https://github.com/biranchi2018/Intro_to_ML/blob/main/Iris.csv

--2023-06-18 06:45:16--  https://github.com/biranchi2018/Intro_to_ML/blob/main/Iris.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Iris.csv.1’

Iris.csv.1              [ <=>                ] 190.22K  --.-KB/s    in 0.03s

2023-06-18 06:45:17 (6.93 MB/s) - ‘Iris.csv.1’ saved [194789]

In [2]:
file_name = 'Iris.csv'

In [3]:
df = pd.read_csv(file_name)
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df['Species'].unique().tolist()

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']